.menu-item{
    color:white;
    font-size: 20px;   
    font-family: 'Roboto';
    background-color:black;
    border: none;
    height: 55px;
    width: 110px;
    display: inline-block;
    text-align: center

}

#idnav{
    height:58px;
    background-color:black;
    border: 0px;
    transform: translate();
    padding: 0px;
    margin: 0px;
}

#titulo{
    font-family: 'Roboto';
    height: 150px;
    background-color: aqua;
}

.logo{
    width: auto;
    height: auto;
}

.nosotros_titulos{
    font-family: 'Oswald';
}

.parrafo_nosotros{
    font-family: 'Roboto';
}

.titulo_carousel_logo{
    font-family:'ABeeZee';
}


@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
        
    font-family: "Oswald";
    src: url("https://fonts.gstatic.com/s/oswald/v23/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUZiZQ.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "ABeeZee";
    src: local("ABeeZee Regular"), local("ABeeZee-Regular"), url("https://fonts.gstatic.com/s/abeezee/v12/esDR31xSG-6AGleN2tWkkA.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


.container-footer{
    height: 110px;
    padding-top: 10px;
}

.a-footer{
    color: aliceblue;
}

.pt-10{
    padding-top: 10px;
}

.font-footer{
    font-family: 'Laila', serif;
}

#relleno{
height: 30px;
}

.menu-item:hover{
    color:white;
    background-color: blue;
    height: 55px;
    width: 110px;
}

.line{
    height: 3px;
    width: 110px;
    background-color:red;
}
li:nth-child(2):hover ~ .line{
    transform: translate(110px);
    margin-left: 3px;
}

li:nth-child(3):hover ~ .line{
    transform: translate(220px);
    margin-left: 6px;
    
}

li:nth-child(4):hover ~ .line{
    transform: translate(330px);
    margin-left: 9px;
    
}

li:nth-child(5):hover ~ .line{
    transform: translate(440px);
    margin-left: 13px;
    
}



li{
}

.zoomheader{
    margin: 0 auto;
    transition: transform .2;
}

.zoomheader:hover{
    transform: scale(1.5);
}

.container-header{
  height: 200px;
  background-color: #fdfdfd;  
}

.zoom-image{
    margin: 0 auto;
    transition: transform .2;
}

.zoom-image:hover{
    transform: scale(2.0)
}

.container-image{
    width: 160px;
    height: 65px;
    background-color: white;
    text-align: center;
}

.imageproyectos{
    height: 300px;
    width: 500px;
    background-color: white;
    display: block;
    border: none;

}

.zoom-proyectos{
    overflow: hidden;
    transition: all 1.5s ease;
    position: relative;
    display: block;
   
}

.zoom-proyectos img {
    display: block;
    position: relative;
    transition: all 1.5s ease;
  
  }
  

.zoom-proyectos:hover img{
    transform: scale(1.1);

}

.panel-default{
    border: none
}





